[project]
	description = Java Artificial Life Simulation Engine
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Elliot Ford (Ellzord)
[access "refs/for/refs/*"]
	read = group user/Elliot Ford (Ellzord)
	push = group user/Elliot Ford (Ellzord)
	label-Code-Review = -2..+2 group user/Elliot Ford (Ellzord)
	label-Verified = -1..+1 group user/Elliot Ford (Ellzord)
	rebase = group user/Elliot Ford (Ellzord)
	removeReviewer = group user/Elliot Ford (Ellzord)
	submit = group user/Elliot Ford (Ellzord)
[access "refs/heads/*"]
	read = group user/Elliot Ford (Ellzord)
	create = group user/Elliot Ford (Ellzord)
	push = +force group user/Elliot Ford (Ellzord)
	pushMerge = group user/Elliot Ford (Ellzord)
[access "refs/tags/*"]
	push = +force group user/Elliot Ford (Ellzord)
	pushTag = group user/Elliot Ford (Ellzord)
	pushSignedTag = group user/Elliot Ford (Ellzord)
